.centrado{

  display:flex;
  justify-content: center;
}


.color_violeta{
  background-color: #4527A0;
}

.letra_Roboto{

  font-family: "Roboto";

}

.letra_Cookie{

  font-family: "Cookie";
  font-size: 20px;
}

.letra_Biryani{

  font-family: "Biryani";
  font_size: 20px;
}

.letra_Nunito{

  font-family: "Nunito Sans";
  font-size: 10px;
}

.color_blanc{

  color: white;
}

.color_blau{

  color: blue;
}

.barra_login{

  background-color:black;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  height: 4rem;

}

.barra_menu{
  background-color: #4527A0;
  color: white;
  display:flex;
  justify-content: space-between;

}

.contenidor_seccions{

  display:flex;
  margin-top: 1rem;
  background-color: rgba(245, 204, 204, 0.75)
}

.contenidor_seccions_articles{

  width: 67%;
  display: block;
  border-right: #4527A0 1px solid;
}

.seccio_articles{

  display:block;
  margin-bottom: 1rem;
  border-bottom: #4527A0 1px dotted;

}

.articles{

  display: block;
  margin-right: 2rem;
  text-align: center;

}


.contenidor_seccions_no_articles{
  width: 33%;
  display: block;
  text-align: center;
}

.anuncis{

  display: block;
  margin-bottom: 1rem;
  border-bottom: #4527A0 1px dotted;

}

.anunci{

  display: flex;
  justify-content: center;
}

.web_destacada{

  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.web{

  display: block;

}

.peu_web{

  background-color: black;
  display: block;
  padding-left: 3rem;
  padding-right: 3rem;
  font-size: 20px;
}

.peu_part_superior{

  display: flex;
  justify-content: space-between;
}

.peu_part_central{
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-around;
}

.peu_part_inferior{

  display: flex;
  justify-content: flex-start;

}
